.list-group {
}
.list-group-item {
    height: 130px;
}
.list-group-item > img {
    position: absolute;
}
.list-group-item-heading, .list-group-item-text {
    position: relative;
    overflow: inherit;
    margin-left: 120px;
    margin-top: auto;
    margin-bottom: auto;
}