<div ng-controller="CharacterDetailsController">
    <h3>{{ character.name }}</h3>
    <img data-ng-src="{{character.thumbnail.path}}/portrait_incredible.{{character.thumbnail.extension}}">
    <h4>Description</h4>
    <p>{{ character.description }}</p>


    <div data-comics data-detailed-list="character.comicsDetailed"></div>
    <div data-events data-detailed-list="character.eventsDetailed"></div>
    <div data-stories data-detailed-list="character.storiesDetailed"></div>
    <div data-series data-detailed-list="character.seriesDetailed"></div>


</div>