<div>
    <h3>{{series.title}}</h3>
    <img src="{{series.thumbnail.path}}.{{series.thumbnail.extension}}" />
    <h4 ng-show="!!series.description">Description</h4>
    <p ng-show="!!series.description">{{series.description}}</p>


    <div data-characters data-detailed-list="series.charactersDetailed"></div>
    <div data-comics data-detailed-list="series.comicsDetailed"></div>
    <div data-events data-detailed-list="series.eventsDetailed"></div>
    <div data-stories data-detailed-list="series.storiesDetailed"></div>

</div>